@import url(/Coca-Cola/style.css);

.container-faleconosco{
    position: relative;
    padding: 20px;
    background-color: var(--cor-secundaria);
    color: var(--texto-secundario);
    transition: 0.5s;
}
.container-faleconosco h1 {
    font-size: clamp(1.125rem, 0.7167rem + 1.8667vw, 2rem);
}
.logo-container{
    position: absolute;
    right: 0;
    bottom: 25px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.imagem-direita{
    filter: var(--logo-primario);
    width: 180px;
}

.section-contato{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 1rem;
    padding: 3rem 0;
}

.section-contato p, h3 {
    padding: 5px;
}

.info-contato{
    background: var(--cor-primaria);
    color: var(--texto-primario);
    padding: 20px;
    border-radius: 20px;
}
.info-contato img{
    filter: var(--logo-sencudario);
}

#contato{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.8em;
}

.container-form{
    background-color: var(--colorGray);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--texto-primario)
}
.container-form legend{
    text-align: center;
    font-size: 1.3em;
    font-family: Poppins;
    font-weight: bold;
}

form {
    width: 100%;
}

.input{
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1em;
}

.textarea{
    width: 100%;
    height: 150px;
    border-radius: 8px;
    padding: 8px;
    resize: none;
}

.textarea::placeholder{
    font-size: 1.2em;
}

#tel{
    color:  var(--span-primario);
}

#email{
    color: var(--span-primario);
}

.submit{
    color: var(--texto-secundario);
    background-color: var(--cor-secundaria);
    border: 1px solid black;
    margin: 1rem 0;
    width: 100px;
    padding: 5px;
    font-family: Poppins;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}

.submit:hover{
   background: var(--cor-primaria);
   color: var(--texto-primario);
}

.faqs-main {
    padding: 1rem 0 3rem;
    color: var(--texto-primario);
}
.faqs-head {
    border-top: 1px solid black;
    background: var(--cor-primaria)
}

.faqs-principal {
    text-align: center;
    padding: 2rem 0 2rem 0;
}

.faqs-itens {
    padding: 1rem;
}

@media screen and (max-width: 1250px) {
    .faqs{
        width: auto;
        margin: auto;
        padding: 15px;
    }
    
}

@media screen and (max-width:768px ) {
    .section-contato{
        grid-template-columns: 1fr;
    }

    .info-contato {
        width: 100%;
    }
}