@import url(/public/style.css);

.banner-promocoes {
    position: relative;
    width: 100%;
    height: 75vh;
    background: linear-gradient(0deg, rgba(12, 12, 12, 0.3), rgba(0, 0, 0, 0.3)),
        url(/src/images/jpg/coca_promo_banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.exp-promocao{
    height: 80vh;  
}

.exp-conteudo {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}

.exp-conteudo img {
    border-radius: 1rem;
    width: 500px;
    height: 500px;
}

.promocoes-conteudo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}
.promocoes-conteudo h1{
    text-align: center;
    font-size: 2rem;
    color: var(--texto-primario);
    

}

.promocoes-conteudo p {
    text-align: justify;
    font-size: 1.5rem;
    font: PoppinsLight;
    color: var(--texto-terciario);

}



















.passo-a-passo{
    width: 100%;
    height: 80vh;
    background: white;
    margin-top: 5rem;
}
.passo-head {
    padding: 3rem 0;
    background: rgb(0, 0, 0);
    color: white;
}
.passo-a-passo h1 {
    text-align: center;
    font-size: 2rem;
}
.r1 img {
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(100%) contrast(100%);
}
.card-promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 0, 0);
    border-radius: 1rem;
}

.card-texto {
    background: rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    text-align: center;
    color: white;
}















/*passo a passo  */

.passo-conteudo{
    display: grid;
    padding-top: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    
    justify-items: center;
    justify-content: center;
}
.passo-conteudo img{
    width: 200px;
    height: 200px;
}
.r1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slogan-sustentavel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-size: 32px;
}
.sloganverde {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding-top: 32px;
}
.sloganverde h1{
    color: var(--texto-primario);
}
.verdeimg img{
    width: 100%;
    height: 100%;
}
