@import url(/Coca-Cola/style.css);

.banner-promo img{
    height: 75vh;
}

.promo-sus {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
    padding: 5rem 0;
}
  
.promo-card{
    width: 500px;
    height: 500px;
}

.promo-card img{
    border-radius: 1rem;
}

.promo-conteudo {
    background: var(--cor-primaria);
    border-radius: 1rem;
    padding: 2rem;
    color: var(--texto-primario);
}
.promo-conteudo h1 {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2rem;
}
.promo-conteudo p {
    text-align: justify;
    font-size: 1.3rem;
    color: var(--texto-terciario);
}

.passo-boy{
    text-align: center;
    background: var(--cor-primaria);
    color: var(--texto-primario);
    border-radius: 1rem;
}

.passo-boy h2 {
    padding: 1rem;
    font-size: 2rem;
}

.passo-main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 3rem;
    background: white;
    border-radius: 0 0 1rem 1rem;
}

.formulario {
   padding: 1rem;
   border-radius: 1rem; 
   color: black;
}


.formulario fieldset{
    height: 100%;
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.formulario input {
    display: block;
    width: 100%;
    height: 2.5rem;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 0.3rem;
    background: rgb(255, 255, 255);
}

.formulario label {
    display: block;
    text-align: start;
}
.btn {
    background: black !important;
    cursor: pointer;
    transition: 0.5s;
    color: white;
    font-size: 1.1rem;
}

.btn:hover {
    background-color: white !important;
    color: black;
}

.maps-boy {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    padding: 1rem;
}

.maps-boy h3 {
    margin-bottom: 1rem;
    font-family: PoppinsBold;
}

.maps {
    border: 0;
    width: 100%;
    height: 80%;
    border-radius: 1rem;
}

.verde {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 5rem;
    padding: 5rem 0;
}

.verde-conteudo {
    display: flex;
    align-items: center;
    background: var(--cor-primaria);
    color: var(--texto-primario);
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 1rem;
}

.verde-card {
    height: 300px;
}
.verde-card img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

@media only screen and (max-width:1400px) {
    .promo-sus{
        grid-template-columns: 1fr;
    
    }
    .promo-card img {
        width: 100%;
        height: 100%;
    }
    .promo-card{
        width: 100%;
        height: 100%;
        order: 2;
    }
    .promo-conteudo{
        height: 100%;
     
    }
    .passo-main{
        grid-template-columns: 1fr;
    }
    .maps {
        height: 80vh;
    }

    .verde {
        grid-template-columns: 1fr;
        
    }
}
