@import url(/style.css);


.carousel {
    position: relative;
    width: 80%;
    max-width: 80%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    width: 200%; 
    height: 100%;
    animation: slide 14s infinite; 
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: fill; 
    object-position: center;

}


@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}
main{   

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    flex-grow: 0;  
}

.logo_fanta{

    width: 100%;
    height:100px;
    background-color:var(--cor-variente);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo_fanta1{

    height: 70%;

}
h1{

    text-align:center;
    margin-top: 60px;
    font-family: PoppinsBold;
    font-size: clamp(1rem, 0.9072rem + 4.9485vw, 2.5rem);

    
}

.container-produto{
    display:flex;
    flex-direction: row;
    gap: 2%;
    width: 80%;
    margin: 5% auto;   
}

.container-produto div img{

    width: 100%;
    border-radius: 5%;
    object-fit: cover;
}

.comercial-imagem{
    width: 80;
    height: 100%;
}
.comercial-imagem img{
    width: 100%;
    object-fit: cover;
}


.container-produto div div h2{
    text-align: center;
    width: 100%;
    font-family: PoppinsBold;
    font-size: clamp(1rem, 0.9072rem + 4.9485vw, 2.5rem);
}
.container-produto div div p{
    font-family: Poppins;
    width: 100%;
    font-size: 20px;
    margin: 2% 0;
}
.apresentacaoproduto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: var(--texto-primario);
}

.container-produto  div{
    width: 100%;
    margin: 0 auto auto auto;
}

.apresentacaoproduto button{
    width: 320px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 25px;
    margin: 2% 0;
    font-family: Poppins;
    font-size: 1.2rem;
}
.apresentacaoproduto button:hover{
    opacity: 0.7;
}
.campanha-halloween
{

    width: 80%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.imagem-halloween{
    width: 100%; 
    text-align: center;
    overflow: hidden;
    object-fit: fill;

}

.texto-halloween{
    font-family: PoppinsBold;
    font-size: clamp(1rem, 0.9072rem + 4.9485vw, 2.5rem);
    color: var(--texto-primario);
    text-align: center;
    width: 100%;
}   
iframe{

    width: 80%;
    margin: 5% auto;
    height: 500px;


}

@media only screen and (max-width: 1000px) {
    .container-produto {
        flex-direction: column;
        gap: 2rem;
    }
}






